*,
*:before,
*:after {
  box-sizing: border-box;
}
h1 {
  font: 20px/1.8 "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-stretch:condensed;
  text-transform:uppercase; 
  text-align: center;
  letter-spacing:1.6pt;
  font-weight:800;
  padding:0px 0px 0px 2px;
  }
h2 {
  font: 18px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:700;
  padding:5px 0px 2px 0;
  }
  
.c1 {
  text-align: center;
  margin: auto;
}

.foot {
  
  font: 12px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color:#c6c7cc;
  margin:10px 0 0 0;
  }

form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 24%;
  margin: 0 auto;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  height: 25pt;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
select{
  height: 25pt;
}
legend {
  font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:10px 0 0 0;
}
.account-info {
  padding: 20px 20px 0 20px;
}
.account-info label {
  color: #395870;
  display: block;
  text-align: left;
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0 0 2.3px 0;
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  width: 100%;
  height: 28px;
  margin-bottom: 5px;
  font-size: 11.2px;
}
#password1 {
  height: 34px;
}
#password2 {
  height: 34px;
  margin-bottom: 14px;
}
.account-info select {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  text-indent:2%;
  font-size: 9pt;
  height: 28px;
  
}
.account-action {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px 20px 32px 25px;
 
}
.account-action .btn {
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-top: 8px;
  height: 35px;
  width: 176px;
  margin-right: 5px;
 
}
.account-action label {
  color: #7c7c80;
  font-size: 11px;
  display:block;
}
.account-action input {
  height: 13px;
  width: 13px;
}

input[type="text"], input[type="email"],  select, textarea {
  width: 100%;
}
