*,
*:before,
*:after {
  box-sizing: border-box;
}
*{
 
  margin-top:0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
h1 {
  font-size: 13.5pt ;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-weight:normal;
  color:#245d88;
  padding-top: 7px;
  padding-bottom: 17px;
 
  }
h2 {
  font-size: 12pt ;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:700;
  color:#477496;
  margin-bottom: 16px;
  margin-top: 20px;
  }
h3{
  font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:700;
  color:#477496;
  }
table {
  padding-top:12px;
  padding-left:4px;
  }
hr {
  border: none; 
  background-color: #e7e7e9;
  height: 3px; 
}
.vk{
    height: 30px;
    width: 30px;
    margin-right: 8px;
    margin-top: 4px;
  }
small{
  font: 11px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#7c7c7e;
  font-weight: 500;
}
b {
  font: 11px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#606061;
  font-weight: 700;
  padding-left: 5em;
  
}

.input-field{
  margin-bottom: .3em;
}
.text1{
  font-size: 13px; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height:11.5pt;
  text-align: left;
  font-weight:100;
}
input {
  height: 15pt;
  border: 1px solid #808080;
  border-radius: 2px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 15px 0;
  
}
select{
  height: 15pt;
  border: 1px solid #808080;
}
.account1, .account2, .account3, .account4, .account-action, .foot{
  border:none;
  
}
.account1 label {
  color: #747272;
  font-size: 10pt ;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin: 15px 0 2px 0;
  display: inline-block; 
  text-align: right;
}
.account2 {
  color: #747272;
  font: 16px/1.8 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 5px 0 2px 0;
  display: inline-block; 
}
.account3 {
  color: #747272;
  font: 16px/1.8 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 5px 0 2px 0;
  display: inline-block;
}
.account4 {
  color: #747272;
  font: 16px/1.8 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 5px 0 2px 0;
  display: inline-block;
}
.account-action .btn {
  height: 25px;
  width: 150px;
}
a{
  color:#245d88;
  text-decoration: none;
}
.field2{
  padding-bottom: 1px;
}